.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    z-index: 1000;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }
  
  .modal form {
    display: flex;
    flex-direction: column;
  }
  
  .modal form input,
  .modal form button {
    margin-top: 10px;
  }
  
  .modal form button {
    cursor: pointer;
  }
  