.register-container {
    max-width: 300px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
  }
  
  .register-form input,
  .register-form button {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
  }
  
  .register-form button {
    background-color: #000;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .register-form button:hover {
    background-color: #555;
  }
  
  